{{#if reviews}}
<section>
  <div>
    {{#each reviews as |review|}}
    <button class="btn btn-primary" type="button"><a class="link" href="/selected-review/{{id}}">{{title}}</a></button>
      {{!-- <a class="link" href="/login">{{title}}</a> --}}
    {{/each}}
  </div>
</section>
{{/if}}

<br><br>
<a class="link" href="/new-review"> Add New Post</a>
