{{#if reviews}}
<section>
  <div >
    {{#each reviews as |review|}}
    <button class="btn btn-primary links2" type="button"><a href="/selected-review/{{id}}">{{title}}</a></button>
      <br>
    {{/each}}
  </div>
</section>
{{/if}}

<br><br>
<a class="center2" href="/new-review"> Add New Post</a>
