{{#if reviews}}
<section>
  <div>
    {{#each reviews as |review|}}
    <button class="btn btn-primary" type="button">{{title}}</button>
    {{/each}}
  </div>
</section>
{{/if}}

<br><br>
<a class="link" href="/new-review"> Add New Post</a>
<script src="js/addComment.js"></script>