<form class="box">
  <h2>Login</h2>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  
  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="button">Sign in</button>
    
  </div>
  <a href="/signup">Signup For a New Account </a></li>
</form>