
<form class="box new-review-form">
  <h2>Create Post</h2>
  <div class="mb-3">
    <label class="form-label">Title</label>
    <input type="input" class="form-control" id="title-input" aria-describedby="emailHelp">
    <div class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Content</label>
    <textarea class="form-control" aria-label="With textarea" id="content-input"></textarea>
  </div> 
 
    <button class="btn btn-primary" type="submit">Create</button> 
    
  </div>
</form>
<script src="/js/newReview.js"></script>
